:root {
    --primaryblue: #18a0fb;
    --black: #2A2F33;
    --darkgrey: #66757F;
    --grey: #CCD6DD;
    --lightgrey: #E1E8ED;
    --white: #ffffff;
    --primaryred: #FB1818;
}
html, body {
    font-family: 'Roboto', sans-serif !important;
}
body {
  background: #e1e8ed;
}
.custom-mb {
    margin-bottom: 35px;
}
.text-primaryblue {
  color: var(--primaryblue);
}
.text-black {
  color: var(--black);
}
.text-darkgrey {
  color: var(--darkgrey);
}
.text-grey {
  color: var(--grey);
}
.text-lightgrey {
  color: var(--lightgrey);
}
.text-white {
  color: var(--white);
}

.text-hover-primaryblue:hover {
  cursor: pointer;
  color: var(--primaryblue) !important;
}
.text-hover-black:hover {
  cursor: pointer;
  color: var(--black) !important;
}
.text-hover-darkgrey:hover {
  cursor: pointer;
  color: var(--darkgrey) !important;
}
.text-hover-grey:hover {
  cursor: pointer;
  color: var(--grey) !important;
}
.text-hover-lightgrey:hover {
  cursor: pointer;
  color: var(--lightgrey) !important;
}
.text-hover-white:hover {
  cursor: pointer;
  color: var(--white) !important;
}

.font-15px {
    font-size: 15px;
}

.pointer {
    cursor: pointer;
}

.border-radius-5px {
    border-radius: 5px !important;
}

.bg-primaryblue {
    background: var(--primaryblue) !important;
}

@media only screen and (max-width: 992px) {
    .custom-mb {
        margin-bottom: 20px !important;
    }
}

/* Breadcrumb Style */
.menu-breadcrumb {
    color: #ABABAB;
}
.menu-breadcrumb:hover {
    color: #2F80ED;
}
/* Custom a href colour */
a:hover {
    color: #0095EB !important;
}
.logo-mobile {
    display: none;
}
.analytic-links, .resource-links, .dropdown-toggle, .contributor-title {
    color: black;
}
.analytic-links:hover, .resource-links:hover, .dropdown-toggle:hover, .dropdown-item:hover, .burger-icon:focus, .contributor-title:hover {
    color: #0095EB !important;
}
.analytic-icon:hover > .svg-icon.svg-menu-icon svg g [fill] {
    fill: #0095EB !important;
}
.menu-item.menu-item-active > .menu-link .menu-text, .menu-item:hover > .menu-link .menu-text {
    color: #0095EB !important;
}
.menu-item.menu-item-active > .menu-link .svg-icon.menu-icon svg g [fill], .menu-item:hover > .menu-link .svg-icon.menu-icon svg g [fill] {
    fill: #0095EB !important;
}
.menu-item.menu-item-active, .menu-item:hover {
    border-right: 3px solid #0095EB;
    background: rgba(0, 149, 235, 0.7);
}
.main-button, .main-button-icon {
    color: #ffffff !important;
    background-color: #0095eb !important;
}
.main-button:hover, .main-button:hover > .main-button-icon {
    color: #0095eb !important;
    background-color: #EBFAFF !important;
}
.second-button, .second-button-icon {
    color: #ffffff !important;
    background-color: #53f9ad !important;
}
.borderless td {
    border: 0 !important;
}
@media only screen and (max-width: 991px) {
    .logo-mobile {
        display: block;
    }
}

/* Header and Subheader */
.custom-header, .custom-header-mobile {
    left: 0 !important;
    transition: top 0.3s;
}
.custom-header, .brand-header {
    border-bottom: 0.5px solid #cfcfcf;
}
.custom-subheader {
    left: 0 !important;
    transition: top 0.3s;
    box-shadow: 0px 1px 6px 0px rgba(33, 33, 33, 0.3) !important;
}
.subheader.custom-subheader-desktop {
    padding: 0px !important;
    border-top: 0px !important;
}
@media (max-width: 991px) {
    .custom-header, .custom-subheader-desktop {
        display: none !important;
    }
    .custom-header-mobile {
        box-shadow: none !important;
    }
    .custom-subheader-mobile {
        display: block !important;
        position: fixed;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.3);
    }
    .custom-aside-mobile {
        display: flex !important;
    }
    .custom-aside-menu {
        height: calc(102vh - (220px + 2rem + 20px)) !important;
    }
    .aside-overlay {
        background: rgba(0, 0, 0, 0.4);
    }
}
.title-logo-1 {
    color: var(--primaryblue);
}
.title-logo-2 {
    color: var(--grey);
}
.button-language, .button-language > span > i, .button-language-mobile, .button-language-mobile > span > i {
    color: var(--black);
}
.button-language:hover {
    background: #F4F4F4;
    color: var(--darkgrey) !important;
}
.button-language, .button-language-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-language {
    width: 140px;
}
.button-language-mobile {
    width: 100px;
}
.dropdown-language, .dropdown-language-mobile {
    background: #ffffff;
    border: 0.5px solid #D0D0D0;
    border-radius: 0px;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
}
.dropdown-language .navi .navi-item .navi-link:hover,
.dropdown-language-mobile .navi .navi-item .navi-link:hover {
    background: transparent !important;
    color: var(--primaryblue) !important;
}
.dropdown-language {
    width: 140px !important;
}
.dropdown-language-mobile {
    width: 100px !important;
}
.slick-navbar {
    text-align: right;
    max-width: 450px !important;
    color: var(--black);
}
.custom-nav .nav-item .nav-link {
    padding: 15px 0px !important;
    font-weight: 500;
    color: var(--black);
    transition: .3s;
    /* border-bottom: 4px solid transparent; */
}
.custom-nav .nav-item .nav-link.active {
    /* border-bottom: 4px solid rgba(45, 57, 61, 0.2); */
    color: var(--primaryblue);
}
.custom-nav .nav-item .nav-link:hover {
    color: var(--primaryblue);
    /* border-bottom: 4px solid rgba(45, 57, 61, 0.2); */
}
.custom-nav, .subheader-logo {
    transition: .3s;
}

/* Dropdown Menu Subheader */
.custom-nav .nav-item .nav-link.dropdown-toggle::after {
    display: none;
}
.custom-nav .nav-item.dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--lightgrey2);
}
.custom-nav .nav-item.dropdown .dropdown-menu .dropdown-divider {
    margin: 0 !important;
}
.custom-nav .nav-item.dropdown .dropdown-item {
    font-weight: 300;
    padding: 0.75rem 0.5rem;
}
.custom-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: transparent;
    color: var(--primaryblue) !important;
}

.btn-custom-credit, .btn-custom-credit-1 {
    background: var(--primaryblue);
    color: var(--white) !important;
    padding: 5px 20px !important;
    border-radius: 50px;
    transition: .3s;
}
.btn-custom-credit:hover, .btn-custom-credit-1:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-custom-login {
    background: #f4f4f4;
    color: var(--darkgrey);
    padding: 5px 20px !important;
    border-radius: 50px;
    transition: .3s;
}
.btn-custom-login:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) and (max-width: 1009px) {
    .btn-custom-credit {
        display: none;
    }
    .btn-custom-credit-1 {
        display: block !important;
    }
}

/* Header and Subheader Tools Title Styling */
#header_writer_title,
#header_webmaster_title,
#headermobile_writer_title,
#headermobile_webmaster_title,
#menu_tools_writer,
#menu_tools_webmaster,
#toggle_button_writer,
#toggle_button_webmaster {
    transition: .3s;
}

.custom-menu-sidebar .menu-item.menu-item-active .menu-link .menu-text {
    font-weight: bold;
    color: #2D393D;
}
.custom-menu-sidebar .menu-item.menu-item-active,
.custom-menu-sidebar .menu-item:hover {
    border-right: none !important;
    background: transparent !important;
}
.menu-item-children {
    background: var(--white) !important;
    border-right: 3px solid var(--white) !important;
}

/* Main Content */
@media (min-width: 992px) {
    .custom-wrapper {
        padding-left: 0px !important;
    }
    .container-provide,
    .container-insight,
    .container-footer {
        padding: 0px 100px;
    }
    .container-footer-new {
        padding: 0px 50px;
    }
}
.section-freetools {
    padding: 100px 0px;
}
.card-freetools {
    border: 1px solid rgba(45, 54, 101, 0.25) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.btn-freetools {
    background: var(--primaryblue);
    color: var(--white);
    border-radius: 0px !important;
    transition: .3s;
}
.btn-freetools:hover {
    color: var(--white);
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.3);
}
.freetools-link i {
    color:#46b3fc;
}
.freetools-link span, .freetools-link:hover > i {
    color: #FFFFFF;
}
.freetools-link:hover span {
    text-decoration: underline !important;
}
.freetools-link, .freetools-link > i, .freetools-link:hover {
    font-weight: 500;
}
.section-insight {
    background: #2D393D;
    padding: 100px 0px;
}
.card-insight {
    background: #455559;
    color: var(--white);
    box-shadow: none !important;
    transition: .3s;
}
.card-insight:hover {
    background: #536D74;
}
.custom-footer {
    background: #2D393D;
    padding: 0px 0px 100px 0px;
    margin-top: -1px;
}
.section-provide {
    background: var(--primaryblue);
    padding: 20px 0px;
}
.col-footer-lang, .col-footer-tools, .col-footer-company, .col-footer-publication {
    justify-content: center;
    margin-bottom: 30px;
}
@media (max-width: 575px) {
    .col-footer-lang, .col-footer-tools, .col-footer-company, .col-footer-publication {
        justify-content: left;
    }
}
.footer-title, .footer-link, .footer-link > i {
    color: var(--white);
}
.footer-link {
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
}
.link-footer-blog {
    color: white;
    text-decoration: underline !important;
}
.link-footer-blog:hover {
    color: white !important;
}
.footer-link:hover {
    color: var(--white) !important;
    text-decoration: underline !important;
}
.col-copyright {
    margin-top: 100px;
}
.custom-copyright, .copyright-link {
    color: rgba(255, 255, 255, 0.3);
}
.copyright-link:hover {
    color: rgba(255, 255, 255, 0.3) !important;
    text-decoration: underline !important;
}

/* Custom New Footer */
.custom-footer-new {
    background: var(--white);
    padding-bottom: 50px;
}
.footer-new-logo {
    width: fit-content;
}
.footer-new-logo span {
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
}
.footer-new-icon i {
    color: var(--darkgrey) !important;
}
.footer-new-link a {
    color: var(--darkgrey);
    font-weight: 400;
}
.footer-new-link:hover a {
    color: var(--primaryblue);
    text-decoration: underline !important;
    font-weight: 400;
}
.seo-footer-list {
    background-color: var(--lightgrey);
    box-shadow: none !important;
    border-radius: 10px;
    transition: .3s;
}
.seo-footer-list:hover {
    background-color: var(--primaryblue);
}
.footer-company-list {
    background-color: var(--lightgrey);
    box-shadow: none !important;
    border-radius: 10px;
    transition: .3s;
}
.seo-footer-list .card-body span {
    color: var(--darkgrey);
    font-weight: 500;
    transition: .3s;
}
.seo-footer-list:hover .card-body span {
    color: var(--white);
    text-decoration: underline;
}
.footer-company-list:hover {
    background-color: var(--primaryblue);
}
.footer-company-list .card-body .footer-company-cat,
.footer-company-list .card-body .footer-company-title {
    color: var(--darkgrey);
}
.footer-company-list:hover .card-body .footer-company-cat,
.footer-company-list:hover .card-body .footer-company-title {
    color: var(--white);
}
.footer-company-list:hover .card-body .footer-company-title {
    text-decoration: underline;
}
.footer-resource-list {
    max-width: 50%;
    border-radius: 10px;
    background-color: var(--darkgrey);
    transition: .3s;
}
.footer-resource-icon {
    flex: 25%;
}
.footer-resource-icon i,
.footer-resource-icon span {
    color: var(--white);
}
.footer-resource-text {
    flex: 75%;
    color: var(--white);
}
.footer-resource-list:hover {
    background-color: var(--primaryblue);
}
.footer-resource-list:hover .card-body .footer-resource-text {
    text-decoration: underline;
}
@media (max-width: 575px) {
    .footer-resource-list {
        max-width: 100%;
    }
}
